.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 5% 5% 5%;
    background-color: $color-bg-accordion;
    border-radius: 10px;
}

.container-illustration {
    position: relative;
    top: -110px;
}

.illustration__shadow {
    position: relative;
    top: -80px;
}

.container-accordion {
    position: relative;
    top: -180px;
}

.accordion-item {
    padding-bottom: 10px;
    border-bottom: solid 2px $color-divider-accordion;
}

.item__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.item__toggle {
    margin-left: 20px;
}

.item__toggle--on {
    transform: rotate(180deg);
}